body {
  background-color: #fff;
  display: block;
  padding: 22px;
  width: 74%;
  margin: 67px auto;
  border-radius: 15px;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 45px;
  font-family: "Source Code Pro", monospace;
}

div {
  color: black;
  font-family: "Source Code Pro", monospace;
}

input {
  background: none;
  color: black;
  border-color: #fff;
  font-family: "Source Code Pro", monospace;
  border-style: groove;
  text-align: center;
}

.cityName {
  margin-left: -10px;
}
.iconHere {
  margin-right: -10px;
}
.overview {
  margin-bottom: 20px;
  margin-top: 20px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.placeholder {
  margin: 0 auto;
  display: block;
}
.btn-light {
  padding: 4px;
}

.col-12 {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.input {
  border-style: dashed;
}
.weatherDescription {
  font-size: 20px;
  color: #cc572d;
  margin-top: -10px;
  font-weight: lighter;
}

.icon {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.currentTemp {
  font-size: 100px;
  margin-top: -10px;
  margin-left: -10px;
  font-weight: lighter;
}

.container {
  text-align: center;
  padding: 20px;
}

.col-2 {
  text-align: center;
  font-size: 12px;
  color: #cc572d;
}

.details {
  text-align: center;
  color: grey;
}

.col-4.mainInfo {
  text-align: center;
  padding: 80px 0;
  font-size: 35px;
}

.weather-forecast-day {
  margin-top: 10px;
  text-align: center;
  color: #cc572d;
}

.weather-forecast-temperature {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  margin: 0 auto;
  display: block;
}

.weather-forecast-temperature-max {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
}
.weather-forecast-temperature-min {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  opacity: 0.5;
}

.units {
  text-align: center;
}

.updateTime {
  color: grey;
}

h6 {
  font-size: 8px;
  text-align: center;
  color: grey;
  margin-top: -10px;

  font-family: "Source Code Pro", monospace;
}
