body {
  background-color: #fff;
  display: block;
  width: 65%;
  margin: 67px auto;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='1' stroke-opacity='0.12' id='a' d='M0.74-509.63l485.39 352.65l-185.4 570.61h-599.97l-185.4-570.61L0.74-509.63 M0.74-510.87l-486.56 353.51l185.85 571.99h601.42L487.3-157.36L0.74-510.87L0.74-510.87z'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-116.8 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23fffcfa' href='%23a' transform='rotate(7.3 0 0) scale(1.073)'/%3E%3Cuse stroke='%23fff5ed' href='%23a' transform='rotate(14.6 0 0) scale(1.146)'/%3E%3Cuse stroke='%23ffefe1' href='%23a' transform='rotate(21.9 0 0) scale(1.219)'/%3E%3Cuse stroke='%23ffe8d4' href='%23a' transform='rotate(29.2 0 0) scale(1.292)'/%3E%3Cuse stroke='%23ffe2c8' href='%23a' transform='rotate(36.5 0 0) scale(1.365)'/%3E%3Cuse stroke='%23ffdcbc' href='%23a' transform='rotate(43.8 0 0) scale(1.438)'/%3E%3Cuse stroke='%23ffd5b0' href='%23a' transform='rotate(51.1 0 0) scale(1.511)'/%3E%3Cuse stroke='%23ffcfa3' href='%23a' transform='rotate(58.4 0 0) scale(1.584)'/%3E%3Cuse stroke='%23ffc897' href='%23a' transform='rotate(65.7 0 0) scale(1.657)'/%3E%3Cuse stroke='%23ffc28b' href='%23a' transform='rotate(73 0 0) scale(1.73)'/%3E%3Cuse stroke='%23ffbc7f' href='%23a' transform='rotate(80.3 0 0) scale(1.803)'/%3E%3Cuse stroke='%23ffb573' href='%23a' transform='rotate(87.6 0 0) scale(1.876)'/%3E%3Cuse stroke='%23ffaf66' href='%23a' transform='rotate(94.9 0 0) scale(1.949)'/%3E%3Cuse stroke='%23ffa95a' href='%23a' transform='rotate(102.2 0 0) scale(2.022)'/%3E%3Cuse stroke='%23ffa24d' href='%23a' transform='rotate(109.5 0 0) scale(2.095)'/%3E%3Cuse stroke='%23ff9c40' href='%23a' transform='rotate(116.8 0 0) scale(2.168)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 45px;
  font-family: "Source Code Pro", monospace;
}

div {
  color: black;
  font-family: "Source Code Pro", monospace;
}

input {
  background: none;
  color: black;
  border-color: #fff;
  font-family: "Source Code Pro", monospace;
  border-style: groove;
  text-align: center;
}

.search {
  border-radius: 10px;
  padding: 0 15px;
  margin: 0;
  height: 35px;
  font-size: 17px;
  border: #66a4ad;
  display: inline;
  margin-right: -64px;
}
.search:hover {
  background: #fdf1e5;
  color: black;
  border: none;
}
.search-bar {
  margin-right: 18px;
}

.weather-app {
  background-color: transparent;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 6px 13px rgb(0 0 0 / 5%);
  backdrop-filter: blur(5px);
}

.html {
  scroll-behavior: smooth;
}
.cityName {
  margin-left: -39px;
}
.iconHere {
  margin-right: -10px;
}
.overview {
  margin-bottom: 20px;
  margin-top: 20px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.placeholder {
  margin: 0 auto;
  display: block;
}
.btn-light {
  padding: 4px;
}

.col-12 {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.input {
  border-style: dashed;
}
.weatherDescription {
  font-size: 20px;
  color: #cc572d;
  margin-top: -10px;
  margin-left: -54px;
  font-weight: lighter;
  opacity: 0.8;
}
.fa-map-marker-alt {
  margin-right: 10px;
}
.icon {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.currentTemp {
  font-size: 100px;
  margin-top: -10px;
  margin-left: -29px;
  font-weight: lighter;
}

.container {
  text-align: center;
  padding: 20px;
}

.col-2 {
  text-align: center;
  font-size: 12px;
  color: #cc572d;
}

.details {
  text-align: center;
  color: grey;
}

.col-4.mainInfo {
  text-align: center;
  padding: 80px 0;
  font-size: 35px;
}

.weather-forecast-day {
  margin-top: 10px;
  text-align: center;
  color: #cc572d;
}

.weather-forecast-temperature {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  margin: 0 auto;
  display: block;
}

.weather-forecast-temperature-max {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
}
.weather-forecast-temperature-min {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  opacity: 0.5;
}
.smallImg {
  margin: 0 auto;
  display: block;
}
.units {
  text-align: center;
  margin-top: 34px;
  margin-left: -2px;
}
.tempUnit {
  color: grey;
}
.tempUnit:hover {
  font-weight: bold;
  color: #cc572d;
  cursor: pointer;
  text-decoration: none;
}

.updateTime {
  color: black;
  opacity: 0.4;
  margin-left: 2px;
  margin-top: -23px;
  font-size: 14px;
}

.row {
  margin-right: 19px;
  margin-left: -15px;
}
h6 {
  font-size: 12px;
  text-align: center;
  color: grey;
  margin-top: -10px;

  font-family: "Source Code Pro", monospace;
}
.circle {
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  border: 1px solid #fdf1e5;
  width: 150px;
  padding: 23px;
  margin: 20px auto 0;
  margin-right: 320px;
  margin-top: -10px;
}

.fa-map-marker-alt {
  margin-left: -20px;
}

.fa-wind {
  margin: auto;
  display: block;
  color: grey;
  opacity: 0.8;
}
.fa-arrow-down {
  margin: auto;
  display: block;
  color: grey;
  opacity: 0.8;
}
.fa-arrow-up {
  margin: auto;
  display: block;
  color: grey;
  opacity: 0.8;
}

.fa-tint {
  margin: auto;
  display: block;
  color: grey;
  opacity: 0.8;
}
