body {
  background-color: #fff;
  display: block;
  padding: 20px;
  width: 65%;
  margin: 67px auto;
  border-radius: 15px;
  box-shadow: 2px 6px 13px rgb(0 0 0 / 10%);
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 45px;
  font-family: "Source Code Pro", monospace;
}

div {
  color: black;
  font-family: "Source Code Pro", monospace;
}

input {
  background: none;
  color: black;
  border-color: #fff;
  font-family: "Source Code Pro", monospace;
  border-style: groove;
  text-align: center;
}

.container {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23faf8f2'/%3E%3Cstop offset='1' stop-color='%23adada8'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(84,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23fffcf7'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='4.619999999999999'%3E%3Cpath transform='translate(-77.35 16) rotate(9.55 1409 581) scale(1.033613)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.54' transform='translate(-50.5 46) rotate(12.3 800 450) scale(1.020978)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(36.6 -124.5) rotate(121.5 401 736) scale(1.020978)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.4'%3E%3Cpath transform='translate(276 -15.399999999999999) rotate(3.8499999999999996 150 345) scale(0.9598709999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.08' transform='translate(-167.5 -116.5) rotate(144 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-259.2 84.8) rotate(24 1400 132) scale(0.985)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.html {
  scroll-behavior: smooth;
}
.cityName {
  margin-left: -10px;
}
.iconHere {
  margin-right: -10px;
}
.overview {
  margin-bottom: 20px;
  margin-top: 20px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.placeholder {
  margin: 0 auto;
  display: block;
}
.btn-light {
  padding: 4px;
}

.col-12 {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.input {
  border-style: dashed;
}
.weatherDescription {
  font-size: 20px;
  color: #cc572d;
  margin-top: -10px;
  font-weight: lighter;
}

.icon {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.currentTemp {
  font-size: 100px;
  margin-top: -10px;
  margin-left: -10px;
  font-weight: lighter;
}

.container {
  text-align: center;
  padding: 20px;
}

.col-2 {
  text-align: center;
  font-size: 12px;
  color: #cc572d;
}

.details {
  text-align: center;
  color: grey;
}

.col-4.mainInfo {
  text-align: center;
  padding: 80px 0;
  font-size: 35px;
}

.weather-forecast-day {
  margin-top: 10px;
  text-align: center;
  color: #cc572d;
}

.weather-forecast-temperature {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  margin: 0 auto;
  display: block;
}

.weather-forecast-temperature-max {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
}
.weather-forecast-temperature-min {
  text-align: center;
  color: grey;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  opacity: 0.5;
}
.smallImg {
  margin: 0 auto;
  display: block;
}
.units {
  text-align: center;
}
.tempUnit {
  color: grey;
}
.tempUnit:hover {
  font-weight: bold;
  color: #cc572d;
  cursor: pointer;
  text-decoration: none;
}

.updateTime {
  color: black;
  opacity: 0.7;
}

h6 {
  font-size: 12px;
  text-align: center;
  color: grey;
  margin-top: -10px;

  font-family: "Source Code Pro", monospace;
}
